.container {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #012f60;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

/* LISTA DE POSTOS */
.postos-lista {
  background: #f5f6fa;
  border-radius: 10px;
  padding: 15px;
  max-height: 70vh;
  overflow-y: auto;

  h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.posto-card {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;

  h4 {
    margin: 0;
    font-size: 16px;
    color: #003d80;
  }

  p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #555;
  }

  &:hover {
    background: #eef4ff;
  }

  &.ativo {
    border-color: #0052a3;
    background: #eef4ff;
  }
}

/* DETALHES */
.posto-detalhes {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #e0e0e0;

  h3 {
    margin-bottom: 15px;
    color: #012f60;
  }

  p {
    margin-bottom: 8px;
    font-size: 15px;
  }
}

.fichas {
  margin: 15px 0;
  padding: 10px;
  background: #f1f7ff;
  border-radius: 8px;
}

.btn-reservar {
  width: 100%;
  padding: 14px;
  background: #0052a3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;

&:hover {
    background: #00a1d7;
  }
}

.vazio {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
  }
}

.busca {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;

  i {
    margin-right: 8px;
    color: #777;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
  }
}

.nenhum {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 20px;
}

.datas {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px;
  gap: 6px;

  label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
  }

  select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
    font-size: 15px;
    background-color: #fff;
    transition: all 0.2s ease;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: #1976d2;
      box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.15);
    }
  }
}
