/* CONTAINER GERAL */
.login-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;  // ← ajuste a posição do card
  background: #f1f2f6;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}


/* CARD CENTRAL */
.login-card {
  background: #e5e2e2;
  width: 460px;
  padding: 60px 50px;
  border-radius: 14px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.login-card h2 {
  color: #333;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 35px;  
}

/* INPUTS */
.input-group {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 18px;
  border: 1px solid rgba(0,0,0,0.08);
}

.icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.input-group input {
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
  background: none;
}

/* BOTÃO */
.login-btn {
  width: 100%;
  background: #0052a3;
  border: none;
  color: white;
  font-weight: 600;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 8px;
  transition: 0.3s;
}

.login-btn:hover {
  background: #003d80;
}

/* LINKS */
.signup-text {
  font-size: 12px;
  margin-top: 12px;
  text-align: center;
}

.signup-text a {
  color: #0052a3;
  font-weight: 500;
  text-decoration: none;
}

/* TEXTO DA DIREITA - PREFEITURA */
.side-text {
  position: absolute;
  right: 350px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.side-text h3 {
  color: #0052a3;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
}

.side-text h1 {
  margin-top: -5px;
  font-size: 65px;
  color: #003d80;
  font-weight: 700;
}

/* FORMAS DECORATIVAS */
.shape {
  position: absolute;
  background: #003d80;
  border-radius: 50%;
  z-index: 1;
}

.shape1 {
  width: 650px;
  height: 500px;
  top: -300px;
  left: -100px;
}

.shape2 {
  width: 660px;
  height: 460px;
  bottom: -300px;
  right: -200px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .side-text {
    position: static;
    transform: none;
    margin-top: 20px;
    text-align: center;
  }

  .login-container {
    flex-direction: column;
  }
}
