<div class="login-container">
  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
  <div class="shape-triangle"></div>

  <div class="login-card">
    <h2>Bem vindos ao E-ficha RB</h2>

    <div class="input-group">
      <i class="pi pi-user icon"></i>
      <input type="text" placeholder="CPF" />
    </div>

    <div class="input-group">
      <i class="pi pi-lock icon"></i>
      <input type="password" placeholder="Senha" />
    </div>

    <button class="login-btn">Entrar</button>

    <p class="signup-text">
      Ainda não possui cadastro?
      <a routerLink="/cadastro">Cadastre-se</a>
    </p>
  </div>

  <div class="side-text">
    <h3>PREFEITURA DE</h3>
    <h1>Rio Branco</h1>
  </div>
</div>
