
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f6fa;
  position: relative;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.login-card {
  background: #f0f0f0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  z-index: 2;
}

h2 {
  margin-bottom: 20px;
  font-weight: 500;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 10px 15px;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}

.input-group .icon {
  margin-right: 10px;
  font-size: 18px;
  color: #777;
}

.input-group input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  background: none;
}

.login-btn {
  background: #0052a3;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #003d80;
}

.signup-text {
  font-size: 13px;
  margin-top: 15px;
  color: #333;
}

.signup-text a {
  color: #0052a3;
  font-weight: 500;
  text-decoration: none;
}

.side-text {
  position: absolute;
  right: 100px;
  text-align: left;
  z-index: 2;
}

.side-text h3 {
  color: #0052a3;
  font-weight: 400;
  letter-spacing: 1px;
}

.side-text h1 {
  color: #003d80;
  font-size: 42px;
  margin-top: -5px;
}

.shape {
  position: absolute;
  background: #003d80;
  border-radius: 50%;
  z-index: 1;
}

.shape1 {
  width: 300px;
  height: 300px;
  top: -100px;
  left: -100px;
}

.shape2 {
  width: 250px;
  height: 250px;
  bottom: -80px;
  right: -80px;
}


@media (max-width: 900px) {
  .side-text {
    position: static;
    margin-top: 20px;
    text-align: center;
  }

  .login-container {
    flex-direction: column;
  }
}
