<div class="page-container">

    <header class="header">
        <div class="header-left">
            <i class="pi pi-arrow-left"></i>
            <span class="header-title">Voltar</span>
        </div>

    </header>

    <section class="profile">
        <div class="avatar">
            <img src="assets/jimin.jpg" alt="Avatar">
        </div>
        <h2>João Silva</h2>
    </section>

     <!-- Informações -->
  <section class="info">
    <div class="info-row">
      <div class="card">SUS: 123456789</div>
      <div class="card">CPF: 123456789</div>
    </div>

    <div class="info-row">
      <button class="btn primary">
        <i class="pi pi-pencil"></i>
        Editar
      </button>

      <button class="btn danger">
        <i class="pi pi-sign-out"></i>
        Sair
      </button>
    </div>
  </section>

</div>
