<div class="page-container">

    <header class="header"></header>
    

    <section class="profile">
        <div class="avatar">
        <img [src]="paciente.foto || 'assets/jimin.jpg'" alt="Avatar">
        </div>
      <h2>{{ paciente.nome || paciente.nomeCompleto || 'Usuário' }}</h2>
    </section>

     <!-- Informações -->
  <section class="info">
    <div class="info-row">
      <div class="card">SUS: {{ paciente.sus || paciente.cartaoSus || '-' }}</div>
      <div class="card">CPF: {{ paciente.cpf || paciente.cnpj || '-' }}</div>
    </div>

    <div class="info-row">
      <button class="btn primary" (click)="editar()">
        <i class="pi pi-pencil"></i>
        Editar
      </button>

      <button class="btn danger" (click)="sair()">
        <i class="pi pi-sign-out"></i>
        Sair
      </button>
    </div>
  </section>

</div>
