.layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
    
}
.main{
   
    display: flex;
    overflow: hidden;
    flex-grow: 1;

    .rotas{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 16px;
        width: 100%;
        height: 100dvh;
        
        
        
    }
}