.container {
  padding: 50px;
  margin: 60px;

  h2 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    color: #003d80;
  }
}

.header {
  background: linear-gradient(#307BD2, #284C77, #0E2948);
  height: 70px;
  width: 100%;
}

.vazio {
  text-align: center;
  padding: 40px;
  color: #777;
  font-size: 15px;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  border-left: 5px solid #1976d2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  h3 {
    margin: 0;
    font-size: 17px;
    color: #1976d2;
  }

  .endereco {
    font-size: 14px;
    color: #555;
    margin: 6px 0;
  }

  .info {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 8px;
  }

  .info-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #555;
  }

  .info-item i {
    font-size: 16px;
  }
}

/* STATUS */
.status {
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
}

/* CORES POR STATUS */
.status.confirmada {
  color: #2e7d32; // verde
}

.status.cancelada {
  color: #c62828; // vermelho
}

.status.pendente {
  color: #ed6c02; // laranja
}


/* AÇÕES */
.acoes {
  margin-top: 10px;
}

.btn-cancelar {
  background: #c62828;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

.btn-cancelar:hover {
  background: #b71c1c;
}