.container {
  padding: 20px;

  h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
  }
}

#map {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #dcdcdc;
}
