<!-- Navbar -->
<nav class="navbar">

  <div class="logo">
    E-FICHA
  </div>

  <div class="menu-desktop">

    <a routerLink="/paciente/inicio">
      <i class="pi pi-home"></i>
      Início
    </a>

    <a routerLink="/paciente/minhas-fichas">
      <i class="pi pi-file"></i>
      Minhas Fichas
    </a>

    <a routerLink="/paciente/reservar-ficha">
      <i class="pi pi-calendar"></i>
      Reservar Ficha
    </a>

    <a routerLink="/paciente/perfil">
      <i class="pi pi-user"></i>
      Perfil
    </a>

  </div>

  <!-- MENU POPUP -->
  <p-menu #menu [popup]="true" [model]="items" class="mobile-menu">
  </p-menu>

  <button pButton type="button" icon="pi pi-bars" class="p-button-text menu-btn mobile-menu" aria-label="Abrir menu"
    (click)="menu.toggle($event)">
  </button>

</nav>

<!-- Banner -->
<header class="header">
  
  <h1>Postos Próximos</h1>
  <a routerLink="/paciente/inicio" class="back-button">
      <i class="pi pi-arrow-left"></i>
      Voltar
    </a>
</header>

<!-- Mapa -->
<div id="map"></div>