<div class="page-container">

  <p-toast></p-toast>


  <!-- HEADER -->
  <header class="header">
    <h1>E-Ficha - Painel de Controle</h1>
    <button class="btn sair" (click)="sair()">
        <i class="pi pi-sign-out"></i>
        Sair
      </button>
  </header>

  <!-- CONTEÚDO -->
  <main class="content">

    <!-- TABELA -->
    <section class="card table-card">
      <div class="card-header">
        <h2>Fichas do Dia</h2>
        <button class="btn primary" (click)="atualizarFichas()">Atualizar</button>
      </div>

      <!-- FILTRO GLOBAL -->
      <div class="table-filter">
        <input pInputText type="text" placeholder="Pesquisar..." (input)="onGlobalFilter($event, dt)" />

      </div>

      <p-table #dt [value]="fichas" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
        [responsiveLayout]="'scroll'" [globalFilterFields]="['nome', 'cpf', 'numero', 'status']">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nome">
              Paciente <p-sortIcon field="nome"></p-sortIcon>
            </th>
            <th pSortableColumn="cpf">
              CPF <p-sortIcon field="cpf"></p-sortIcon>
            </th>
            <th pSortableColumn="numero">
              Nº Ficha <p-sortIcon field="numero"></p-sortIcon>
            </th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ficha>
          <tr>
            <td>{{ ficha.nome }}</td>
            <td>{{ ficha.cpf }}</td>
            <td>{{ ficha.numero }}</td>
            <td>
              <span class="status aguardando">
                {{ ficha.status }}
              </span>
            </td>
            <td class="acoes">
              <button class="icon danger" (click)="cancelarFicha(ficha)"> <i class="pi pi-times"></i></button>
              <button class="icon success" (click)="confirmarFicha(ficha)"><i class="pi pi-check"></i></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </section>


    <!-- INFO POSTO -->
    <section class="card info-card">
      <h2>Informações do posto</h2>

      <p><strong>Nome:</strong> URAP Roney Meireles</p>
      <p><strong>Endereço:</strong> R. Gavião, 2-96 - Conj. Adalberto Sena</p>
      <p><strong>Capacidade Diária:</strong> 30 Fichas</p>

      <button class="btn primary">Editar</button>
    </section>
  </main>
</div>
<div class="footer">
    <p>&copy; Todos os direitos reservados a Prefeitura de Rio Branco.</p>
</div>
