.footer{

    height: 40px;
    background: linear-gradient(to right, #2b65a7, #284C77, #0E2948);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    width: 100%;
    margin: 0px 0 0 0;

    p{
        color: #ffffff;
        text-align: center;
    }
}