.footer{

    height: 40px;
    background: linear-gradient(to rith, #0C4DA2, #041D3C);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;

    p{
        color: #fff;
        text-align: center;
    }
}