@import "primeicons/primeicons.css";
@import "leaflet/dist/leaflet.css";


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e5e2e2e6;
}



// :host {
//     display: block;
// }
// .container-home {
//     width: 100%;
//     height: 100vh;
// }
