* {
padding:0;
margin:0;
vertical-align:baseline;
border:0
}

.header{
    background:linear-gradient(#307BD2,#284C77, #0E2948);
    position: relative;
    background-size: cover; 
    height: 400px; 
    width: 100%; 
    text-align: center; 
    color: white;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}